
/* ================= Style of First page================== */
/* Ajee's Part */

.header{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}














/* =========================Style of Second page================== */
/* Ajee's Part */

















/* =========================Style of Third page================== */


/* Shola's part */































/* =========================Style of Fourth page================== */
/* Shola's part */
























/* =========================Style of Fifth page================== */


/* Reuben's part */














/* =========================Style of Sixth page================== */
/* Seyi's part */






